.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position:fixed;
  background: white;
  width: 8rem;
  height: auto;
  top:10%;
  left:50%;
  transform: translate(-50%,-50%);
  border: 2px solid black;
  border-radius: 10px;
  padding: 1rem;
}
  
  .display-block {
    display: block;
  }
  
  .display-none {
    display: none;
  }